@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.purple { color: #5F69CF; }
.capitalize { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.at {text-transform: lowercase;}
.fl::first-letter {text-transform: capitalize;}

.transition { 
  transition: .5s all ease; 
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  -o-transition: .5s all ease;
}
header,
.connect,
.how,
.amazon { border-bottom: 2px solid #C0C0C0; }


/*for wrapper*/
.wrapper {
  max-width: 1400px;
  width: 93%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header { padding: 24px 0; }
/*=================================
  Header styling ends here
=================================*/  
/*=================================
  main styling starts here
=================================*/
/* amazon section styles starts */
.amazon h2 {
  padding-top: 43px;
  font-size: 36px;
  font-weight: bold;
}

.amazon .wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.hr-content { 
  margin-left: 3.6%;
  flex-basis: 65%; 
}

.slider-container { 
  position: relative;
  flex-basis: 32%; 
  background: #5F69CF;
}

.hr-content span:nth-child(2) {
  padding-bottom: 30px;
  display: block;
  color: #7780D5;
  font-size: 24px;
}

.hr-content span:nth-child(3) {
  color: #7780D5; 
  font-size: 24px;
}

h3 {
  padding: 4px 0 22px 0;
  color: #7780D5; 
  font-size: 24px;
}

.hr-content p {
  width: 82%;
  color: #797979;
  font-size: 20px;
  line-height: 28px;
}
 
.hr-content p a {  
  display: inline;
  color: #44C79D; 
}

.hr-content p a:hover { color: #5F69CF; }

.apply a:hover {
  background-color: #fff;
  color: #44C79D;
}

.apply a {
  padding: 15px 9px;
  border: 1px solid #44C79D;
  border-radius: 2px;
  margin: 34px 0 48px 0;
  background-color: #44C79D;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.apply a:nth-child(1) { 
  padding: 15px 14px;
  margin-right: 1.6%; 
}

.slider-container li:not(.active) { display: none; }

.slider-container li {
  padding: 88px 0 110px 0;
  position: relative;
}

.slider-content,
.slider-contents {
  width: 72%;
  margin: 0 auto;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
}

.applicants,
.referal {
  width: 63%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.applicants { width: 92%; }
.slider-contents { width: 60%;}
.number { font-size: 40px; }

.but {
  display: block;
  text-align: center;
  text-transform: capitalize;
}
.but::before,
.but::after {
  content: "";
  width: 35%;
  padding: 1px;
  margin: 5px 0px 5px 12px;
  display: inline-block;
  background-color: #C0C0C0;
}

.but::before {
  margin: 5px 12px 5px 0px;
}

.male {
  width: 100%;
  padding: 5px 0;
  display: block;
  text-align: center;
  word-spacing: 10px;
}

.left-arrow {
  display: inline-block;
  position: absolute;
  top: 38%;
  left: 5%;
  text-indent: -9999px;
}

.left-arrow::before{
  content: "\f104";
  float: right;
  color: #fff;
  font-family: fontAwesome;
  font-size: 80px;
  text-indent: 0;
}

.right-arrow {
  text-indent: -9999px;
  display: inline-block;
  position: absolute;
  top: 38%;
  right: 5%;
}

.right-arrow::before{
  content: "\f105";
  float: right;
  color: #fff;
  font-family: fontAwesome;
  font-size: 80px;
  text-indent: 0;
}

.circles {
  display: block;
  position: absolute;
  bottom: 0;
  left: 34%;
  text-align: center;
}
/* amazon section styles ends */
/* connect styles starts */
h2 {
  padding-top: 43px;
  color: #6069CC;
  font-size: 36px;
  font-weight: bold;
}

.list-container { 
  width: 89%;
  padding: 40px 0;
  margin: 0 auto;
  display: flex;
}

.connect li:nth-last-child(1) {  margin-right: 0;}
.connect figure { border: 1px solid #5F69CF; }

 .connect li {  
  margin-right: auto;
  flex-basis: 18%;
}

h4 {
  padding: 10px 0;
  color: #44C79D;
  font-size: 24px;
  font-weight: bold;
}

.connect .manager { flex-basis: 25%; }
.manager .first-span { width: 95%; }
.manager .second-span { width: 75%; }

.connect .manager figure {
  width: 72%;
  margin: 0 auto;
}

.list-content {  text-align: center; }

.first-span {
  padding: 14px 0;
  margin: 0 auto;
  display: block;
  color: #777777;
  font-weight: bold;
  font-size: 17px;
}

.checked, .no-checked { 
  cursor: pointer;
  color: #5F69CF; 
}

.second-span {
  padding: 14px 0;
  margin: 0 auto;
  display: block;
  color: #949494;
  font-size: 15px;
}
/* connect styles ends */
/* how-it-works section starts */
.how h4 {
  color: #737373;
  text-align: center;
}

.how ul {
  width: 89%;
  padding-bottom: 43px;
  margin: 0 auto;
  display: flex;
}

.how li {
  margin-right: auto;
  flex-basis: 29%;
}

.how li:nth-last-child(1) { margin-right: 0; }

.how li p { 
  color: #757575;
  font-size: 20px;
  line-height: 30px;
  text-align: center; 
}

.how li:nth-child(2) p {
  width: 83%;
  margin: 0 auto;
}

.how li:nth-child(3) p {
  width: 90%;
  margin: 0 auto;
}

.how article::before { 
  content: "\f002";
  width: 15%;
  padding: 20px;
  border-radius: 50%;
  margin: 30px auto;
  display: flex;
  background-color: #5F69CF;
  color: #fff;
  font-family: fontAwesome;
  font-size: 47px;
}

.how .schedule:before { content: "\f073"; }
.how .engage:before { content: "\f086"; }
/* how-it-works section ends */
/* testimonial section starts */
/* .testimonial li:not(.active) { display: none; } */

.testimonial {
  padding-bottom: 50px;
  background-color: #5F69CF;
  color: #fff;
  position: relative;
}

.testimonial h2 { color: #fff; }

.testimonial li p { 
  width: 90%;
  margin: 0 auto;
  text-align: center; 
  font-size: 20px;
  line-height: 30px;
}

.testimonial article p:nth-child(2) { padding-top: 35px; }
.testimonial article p:nth-child(3) { padding-bottom: 45px; }
/*=================================
  main styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  
  .amazon h2 {  font-size: 40px; }
  .amazon .wrapper { flex-wrap: wrap; }
  .hr-content { 
    padding-left: 0px;
    flex-basis: 100%;
    text-align: center;
  }

  .hr-content p {
    width: 95%;
    font-size: 22px;
    margin: 0 auto;
  }

  .hr-content p a:hover { color: #44C79D }
  
  .apply a:hover {
    background-color: #44C79D;
    color: #fff;
  }
  
  .slider-container { 
    flex-basis: 100%;
  }

  .slider-container li:nth-child(1) { width: 100%; }

  .slider-content {
    width: 100%;
    font-size: 25px;
    text-align: center;
  }

  .number { margin-left: 0px; }
  .but::after { width: 35%; }
  .but::before { width: 35%; }
  .left-arrow, .right-arrow { top:36%; }
  .circles {  left: 44%; }
  h2 {text-align: center;}
}  
/*media query for 995px ends here*/
/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {

}  
/*media query for 768px ends here*/
